<div class="grid justify-content-center">
    <div class="col-8">
        <h1>{{ "PREPARATION.TITLE" | translate }}</h1>
    </div>

    <div class="col-8">
        <p>
            La Olimpiada Informática de Extremadura tiene dos modalidades de participación: ingenio y programación. Se puede participar solo en una de ellas o en las dos.
        </p>
    </div>

    <div class="col-8">
        <p>
            Para la <b> MODALIDAD DE INGENIO </b> no se necesitan conocimientos especiales de informática. En esta edición habrá dos pruebas:
        </p>
    </div>

    <div class="col-8">
        <p>
            – <b> Juegos html5: </b> Se propondrán tres juegos distintos donde habrá que avanzar el máximo número de fases posible. En los juegos habrá que pensar un poco y aplicar la lógica para pasar de fase.
        </p>
    </div>

    <div class="col-8">
        <p>
            –<b>Búsquedas en Internet:</b> Propondremos una serie de preguntas y deberás responderlas buscando información en internet. Estas preguntas estarán relacionadas con la ingeniería informática, con su historia y con la Universidad de Extremadura.
            Un pregunta podría ser, por ejemplo:
            <b>¿Qué verías ahora si fueras al lugar donde se encontraba la Escuela
        Politécnica de la Universidad de Extremadura entre 1977 y 1990?</b
      >
    </p>
  </div>

  <div class="col-8">
    <p>
      Para participar en la <b>MODALIDAD DE PROGRAMACIÓN</b> es necesario tener conocimientos de uno de los lenguajes de programación que se pueden usar (C, C++, Java o Python). Es muy aconsejable una preparación previa usando el mismo juez
            on-line que se utilizará en el concurso.
        </p>
    </div>

    <div class="col-8">
        <p>
            Tenemos preparado un concurso de prueba con problemas de dificultad progresiva que se han puesto en algunas ediciones anteriores de la Olimpiada.
        </p>
    </div>

    <div class="col-8">
        <p>
            Tienes que solicitar el acceso al juez on-line mediante
            <a href="">este formulario</a>.
        </p>
    </div>

    <div class="col-8">
        <p>
            Cuando recibas el correo electrónico con las claves de acceso, podrás usar DOMjudge en <a href="">este enlace </a>.
        </p>
    </div>

    <div class="col-8">
        <p>
            Si tienes algún problema, escribe un mensaje de correo a
            <a>o.informatica.ex@gmail.com</a>. Para conocer cómo funciona DOMjudge, puedes leer este manual.
        </p>
    </div>

    <div class="col-8">
        <p>
            Recomendamos el uso de compiladores online (repl.it, onlinegdb e ideone) para la prueba de programación. Los ordenadores tendrán instalados los programas más habituales de programación, aunque si algún participante quiere utilizar uno en concreto que
            lo notifique al correo de las olimpiadas (<a href="">o.informatica.ex@gmail.com</a>).
        </p>
    </div>

    <div class="col-8">
        <p>
            Se recomienda, aunque no es imprescindible, que los estudiantes participantes dispongan de un preparador, que podrá ser un docente de cualquier centro educativo de la comunidad extremeña. El profesor preparador no necesariamente debe ser un especialista
            en informática, tan sólo es necesario que anime y apoye a aquellos estudiantes que muestren su interés por la informática.
        </p>
    </div>

    <div class="col-8">
        <p>
            <b>Contacto e información:</b> <a href="">o.informatica.ex@gmail.com</a>
            <br /> Alberto Gómez (tlf. 927 25 16 44)
        </p>
    </div>
</div>