.align-center {
    text-align: center;
}

.imgLogin {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

p {
    color: green;
    text-decoration: underline green;
}

p:active,
p:hover {
    color: green;
    cursor: pointer;
}