<p-toast position="bottom-center"> </p-toast>
<div class="grid justify-content-center">
    <img [src]="imgRegister" alt="imagen registro" class="imgRegister" />
</div>
<div class="grid justify-content-center">
    <div class="col-6">
        <p-panel [header]="'PERSON.FORM.REGISTER' | translate" *ngIf="personRegister">
            <form [formGroup]="registerForm">
                <div class="grid formgrid p-fluid">
                    <div class="col-6 p-1 field">
                        <label for="name" class="block">{{
              "GLOBAL.NAME" | translate
            }}</label>
                        <input type="text" [placeholder]="'GLOBAL.NAME' | translate" pInputText formControlName="name" />
                        <small class="p-error block" *ngIf="
                registerForm.controls.name.errors?.required &&
                registerForm.controls.name.touched
              ">El nombre es obligatorio</small
            >
          </div>
          <div class="col-6 p-1 field">
            <label for="lastname1" class="block">{{
              "GLOBAL.LASTNAME1" | translate
            }}</label>
            <input
              type="text"
              [placeholder]="'GLOBAL.LASTNAME1' | translate"
              pInputText
              formControlName="lastname1"
            />
            <small
              class="p-error block"
              *ngIf="
                registerForm.controls.lastname1.errors?.required &&
                registerForm.controls.lastname1.touched
              "
              >El primer apellido es obligatorio</small
            >
          </div>
          <div class="col-6 p-1 field">
            <label for="lastname2" class="block">{{
              "GLOBAL.LASTNAME2" | translate
            }}</label>
            <input
              type="text"
              [placeholder]="'GLOBAL.LASTNAME2' | translate"
              pInputText
              formControlName="lastname2"
            />
            <small
              class="p-error block"
              *ngIf="
                registerForm.controls.lastname2.errors?.required &&
                registerForm.controls.lastname2.touched
              "
              >El segundo apellido es obligatorio</small
            >
          </div>
          <div class="col-6 p-1 field">
            <label for="email" class="block">{{
              "GLOBAL.EMAIL" | translate
            }}</label>
            <input
              type="email"
              [placeholder]="'GLOBAL.EMAIL' | translate"
              formControlName="email"
              pInputText
            />
            <small
              class="p-error block"
              *ngIf="
                registerForm.controls.email.errors?.required &&
                registerForm.controls.email.touched
              "
              >El email es obligatorio</small
            >
            <small
              class="p-error block"
              *ngIf="
                registerForm.controls.email.errors?.pattern &&
                registerForm.controls.email.touched
              "
              >El formato del email no es correcto</small
            >
          </div>
          <div class="col-6 p-1 field">
            <label for="birthdate">{{ "GLOBAL.BIRTHDATE" | translate }}</label>
            <p-calendar
              dateFormat="dd/mm/yy"
              formControlName="birthdate"
              [placeholder]="'GLOBAL.BIRTHDATE' | translate"
            ></p-calendar>
            <small
              class="p-error block"
              *ngIf="
                registerForm.controls.birthdate.errors?.required &&
                registerForm.controls.birthdate.touched
              "
              >La fecha de nacimiento es obligatoria</small
            >
          </div>
          <div class="col-6 p-1 field">
            <label for="center" class="block">{{
              "GLOBAL.CENTER" | translate
            }}</label>
            <input
              type="text"
              [placeholder]="'GLOBAL.CENTER' | translate"
              formControlName="center"
              pInputText
            />
            <small
              class="p-error block"
              *ngIf="
                registerForm.controls.center.errors?.required &&
                registerForm.controls.center.touched
              "
              >El centro es obligatorio</small
            >
          </div>
          <div class="col-6 p-1 field">
            <label for="phone" class="block">{{
              "GLOBAL.PHONE_NUMBER" | translate
            }}</label>
            <input
              type="number"
              [placeholder]="'GLOBAL.PHONE_NUMBER' | translate"
              formControlName="phone"
              pInputText
            />
            <small
              class="p-error block"
              *ngIf="
                registerForm.controls.phone.errors?.required &&
                registerForm.controls.phone.touched
              "
              >El teléfono es obligatorio</small
            >
            <small
              class="p-error block"
              *ngIf="
                registerForm.controls.phone.errors?.pattern &&
                registerForm.controls.phone.touched
              "
              >El teléfono tiene que tener 9 dígitos</small
            >
          </div>
          <div class="col-6 p-1 field">
            <label for="teacherName" class="block">{{
              "GLOBAL.TEACHER_NAME" | translate
            }}</label>
            <input
              type="text"
              [placeholder]="'GLOBAL.TEACHER_NAME' | translate"
              pInputText
              formControlName="teacherName"
              pInputText
            />
            <small
              class="p-error block"
              *ngIf="
                registerForm.controls.teacherName.errors?.required &&
                registerForm.controls.teacherName.touched
              "
              >El profesor es obligatorio</small
            >
          </div>
          <div class="col-6 p-1 field">
            <label for="teacherEmail" class="block">{{
              "GLOBAL.TEACHER_EMAIL" | translate
            }}</label>
            <input
              type="text"
              [placeholder]="'GLOBAL.TEACHER_EMAIL' | translate"
              formControlName="teacherEmail"
              pInputText
            />
            <small
              class="p-error block"
              *ngIf="
                registerForm.controls.teacherEmail.errors?.required &&
                registerForm.controls.teacherEmail.touched
              "
              >El email del profesor es obligatorio</small
            >
            <small
              class="p-error block"
              *ngIf="
                registerForm.controls.teacherEmail.errors?.pattern &&
                registerForm.controls.teacherEmail.touched
              "
              >El formato no es correcto</small
            >
          </div>
          <div class="col-12 align-center">
            <small id="small_required" *ngIf="registerForm.invalid"
              >¡Es obligatorio rellenar todos los campos con el formato
              correcto!</small
            >
          </div>
          <div class="col-12 p-1 align-center">
            <the-button
              [label]="'GLOBAL.INSCRIPTION' | translate"
              (onClick)="register()"
              [disabled]="registerForm.invalid"
            ></the-button>
          </div>
        </div>
      </form>
    </p-panel>
  </div>
</div>