<!--<p-panel
  [toggleable]="collapsible"
  [styleClass]="styleClass"
  [collapsed]="collapsed"
>
  <p-header class="p-grid p-nogutter">
    <div class="p-col-12 p-d-flex p-ai-center">
      <div class="panel-icon" [ngClass]="styleClass">
        <i [class]="icon"></i>
      </div>
      <div class="panel-title">
        <h3>{{ title }}</h3>
      </div>
      <div class="p-d-flex p-jc-end panel-menu-container">
        <p-menubar
          [styleClass]="'panel-menu'"
          [model]="menuItems"
          *ngIf="menuItems"
        ></p-menubar>
        <crm-menu-panel-button
          [panelName]="panelName"
          *ngIf="menuButton"
        ></crm-menu-panel-button>
      </div>
    </div>
  </p-header>

  <ng-content> </ng-content>
</p-panel> -->