<div class="grid justify-content-center">
    <div class="col-8">
        <h1>{{ "NORMATIVE.TITLE" | translate }}</h1>
    </div>

    <div class="col-8">
        <p>
            En las pruebas presenciales, los estudiantes deberán llevar su
            <b>DNI</b> (o documento acreditativo similar) y un
            <b>certificado del Centro</b> que acredite su condición de estudiante de secundaria o de bachillerato.
        </p>
        <p>
            El objetivo fundamental de esta Olimpiada es difundir y promocionar la informática, y en especial la actividad de programación de ordenadores, entre los estudiantes extremeños de educación secundaria y bachillerato. Para ello, se llevarán a cabo diversas
            competiciones orientadas a potenciar el uso de los ordenadores como herramientas para resolver problemas, fomentar el ingenio y la creatividad de los estudiantes, aumentar su interés por los estudios de informática, y acercarles a la Universidad.
        </p>
        <p>
            También es un objetivo importante conseguir que los participantes pasen un día agradable en nuestro centro, mientras compiten y concursan con otros compañeros.
        </p>
        <p>
            <b>Para leer detenidamente las
        <a href="">bases del concurso </a> descárgate el fichero.</b
      >
    </p>
    <fieldset legend='Modalidades'>
      <p><b>A) Pruebas de Ingenio:</b></p>
        <p>
            ● Se resolverán varias pruebas de ingenio y de lógica. En estas, se evita la dependencia con conocimientos previos de los que no dispongan los estudiantes.
        </p>
        <p>
            ● Habrá entre 5 y 10 problemas, con distintos grados de dificultad y diferente puntuación.
        </p>
        <p><b>B) Programación:</b></p>
        <p>
            ● La correcta resolución de los problemas de programación será evaluada mediante un sistema automático de corrección, el denominado “juez on-line” (en concreto, se usará el sistema DomJudge).
        </p>
        <p>
            ● Los problemas se resolverán mediante programas escritos en alguno de los lenguajes de programación admitidos por el juez on-line de la Olimpiada: C++ y Java. Previa solicitud de los profesores preparadores al Comité Organizador, se podría admitir la
            inclusión de otros lenguajes siempre que sea técnicamente posible su incorporación al juez on-line. En cualquier caso, los programas creados por los alumnos deben leer los datos desde la entrada estándar (entrada de teclado) y producir el
            resultado en la salida estándar (salida en pantalla) según el formato especificado en los enunciados.
        </p>
        <p>
            ● Los estudiantes podrán llevar material impreso al concurso (como manuales, apuntes, etc.). Los jueces podrán verificar este material antes del comienzo de la prueba.
        </p>
        <p>
            ● Durante la prueba, está estrictamente prohibido el acceso a Internet y el uso de teléfonos móviles, calculadoras, PDA, pendrives, disquetes, CD, o cualquier otro dispositivo similar.
        </p>
        </fieldset>
        <fieldset legend="Clasificación">
            <p><b>Clasificación</b></p>
            <p>
                ● En cada modalidad, los participantes se ordenarán por el mayor número de puntos conseguidos por los problemas resueltos correctamente.
            </p>
            <p>
                ● En caso de empate en el número de puntos, se sumará para cada problema resuelto el tiempo tardado desde el inicio del concurso hasta el instante en que dicho problema es enviado.
            </p>
            <p>
                ● En la anterior suma, cada envío no aceptado realizado a un problema sumará una penalización de 20 minutos, siempre que el problema sea después aceptado (es decir, los envíos incorrectos no penalizan si el problema no es resuelto finalmente).
            </p>
            <p>
                ● Los participantes con el mismo número de problemas resueltos se ordenarán atendiendo a dicha suma de tiempos, de menor a mayor.
            </p>
            <p>
                ● Excepcionalmente, se podrán dejar desiertos algunos puestos por motivos justificados.
            </p>
        </fieldset>
        <fieldset legend="Contacto e información">
            <p>
                <b>Contacto e información:</b><a href="">o.informatica.ex@gmail.com</a>
                <br /> Alberto Gómez (tlf. 927 25 16 44)
            </p>
        </fieldset>
    </div>
</div>