<p-toast position="bottom-center"></p-toast>

<div class="card">
    <p-toolbar styleClass="m-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="awardsList" [rows]="10" [paginator]="true" responsiveLayout="scroll" [(selection)]="selectedAwards" [rowHover]="true" dataKey="id" currentPageReportTemplate="Página {first} de {last} para {totalRecords} resultados" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h2 class="m-0">Gestión de Premios</h2>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="position">
                    Posición
                    <p-sortIcon field="position"></p-sortIcon>
                </th>
                <th pSortableColumn="name">
                    Nombre
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="description">
                    Descripción
                    <p-sortIcon field="description"></p-sortIcon>
                </th>

                <th pSortableColumn="image">
                    Imagen
                    <p-sortIcon field="image"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-award>
            <tr>
                <td>
                    <p-tableCheckbox [value]="award"></p-tableCheckbox>
                </td>
                <td>{{ award.position }}</td>
                <td>{{ award.name }}</td>
                <td>{{ award.description }}</td>
                <td><img [src]="award.image" [alt]="award.name" class="image-td" /></td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success m-2" (click)="editAward(award)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-2" (click)="deleteAward(award)"></button>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{ awardsList ? awardsList.length : 0 }} Premios.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="awardDialog" [style]="{ width: '900px' }" header="Formulario de Premio" [modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="awardForm">
            <div class="grid formgrid p-fluid">
                <div class="col-2 p-1 field">
                    <label for="position" class="block">{{
            "GLOBAL.POSITION" | translate
          }}</label>
                    <input type="text" [placeholder]="'GLOBAL.POSITION' | translate" formControlName="position" pInputText />
                    <small class="p-error block" *ngIf="
            awardForm.controls.position.errors?.required &&
            awardForm.controls.position.touched
            ">La url es obligatoria</small
          >
        </div>
        <div class="col-10 p-1 field">
          <label for="titulo" class="block">{{
            "GLOBAL.TITLE" | translate
          }}</label>
          <input
            type="text"
            [placeholder]="'GLOBAL.TITLE' | translate"
            formControlName="name"
            pInputText
          />
          <small
            class="p-error block"
            *ngIf="
              awardForm.controls.name.errors?.required &&
              awardForm.controls.name.touched
            "
            >El título es obligatorio</small
          >
        </div>
        <div class="col-12 p-1 field">
          <label for="image" class="block">{{
            "GLOBAL.URL_IMAGE" | translate
          }}</label>
          <input
            type="text"
            [placeholder]="'GLOBAL.URL_IMAGE' | translate"
            formControlName="image"
            pInputText
          />
          <small
          class="p-error block"
          *ngIf="
            awardForm.controls.image.errors?.required &&
            awardForm.controls.image.touched
          "
          >La url de la imagen es obligatoria</small
          >
        </div>
        <div class="col-12 p-1 field">
          <label for="description" class="block">{{
            "GLOBAL.DESCRIPTION" | translate
          }}</label>
          <textarea
            pInputTextarea
            [placeholder]="'GLOBAL.DESCRIPTION' | translate"
            autoResize="autoResize"
            formControlName="description"
          ></textarea>
          <small class="p-error block"
          *ngIf="
            awardForm.controls.description.errors?.required &&
            awardForm.controls.description.touched
          "
            >La descripción es obligatoria</small
          >
        </div>
        <div class="col-12 align-center">
          <small id="small_required" *ngIf="awardForm.invalid"
            >{{'FORM.REQUIRED_MSG' | translate}}</small
          >
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-rounded p-button-secondary"
      (click)="cancelDialog()"
    ></button>
    <button
      pButton
      pRipple
      [label]="'GLOBAL.ADD' | translate"
      icon="pi pi-check"
      class="p-button-rounded"
      [disabled]="awardForm.invalid"
      (click)="addAward()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>