<!--<div class="grid">-->
<h1>{{ "CALENDAR.TITLE" | translate }}</h1>

<div class="grid justify-content-center">
    <div class="col-8">
        <full-calendar deepChangeDetection="true" [options]="calendarOptions" locale="es"></full-calendar>
    </div>
</div>

<!--<div class="col-8">
        
    </div>

    <div class="col-8">
        <p>
            <b> Horario de la jornada del día 4 de febrero de 2022 </b>
        </p>
        <p>9:00 – 9:50 Llegada, acreditación y recogida de documentación.</p>
        <p>CUMe: Edificio Antonio Castillo (Aulario)</p>
        <p>EPCC: Pabellón de Informática</p>
        <p>10:00 – 11:30 <b> Pruebas de Ingenio. </b></p>
        <p>
            10:15 – 11:30
            <b>Mesa redonda: actividades de divulgación científica dirigidas a
        estudiantes de primaria, secundaria y bachillerato </b
      >, dirigida al profesorado preparador.
    </p>
    <p>
      11:30 – 12:00 <b> Desayuno </b> para participantes y profesorado preparador.
        </p>
        <p>12:00 – 13:45 <b>Pruebas de Programación. </b></p>
        <p>
            12:15 – 13:45 <b>Visita a las instalaciones del centro </b>dirigida a los estudiantes que no participan en las pruebas de programación y al profesorado preparado
        </p>
        <p>
            13:45: <b>Despedida de las Olimpiadas </b> y vuelta a casa para la entrega de premios virtual.
        </p>
        <p>
            16:30 – 17:00 <b> Acto de clausura y entrega de premios </b>. El acto de clausura se realizará de manera virtual utilizando el siguiente enlace:
            <a href="">
        https://unex-es.zoom.us/j/97411233270?pwd=dGV3bDd4bWx6Z2ZYb0ZlNTF1QUF2UT09
      </a>
        </p>
        <p>o en el siguiente Código QR:</p>
        <p><img [src]="QRCode" alt="imagen codigo QR" /></p>
    </div>-->

<!--</div>-->