<div class="grid justify-content-center">
    <!--<div class="col-8">
        <h1>{{ "INSCRIPTION.TITLE" | translate }}</h1>
    </div>

    <div class="col-8">
        <p>
            Las inscripciones al concurso se realizarán de forma telemática. El plazo de inscripción se inició el <b> 29 de noviembre de 2021 </b> y se cerrará el <b> 21 de enero de 2022 </b>. La participación en el concurso es gratuita. Habrá un límite
            máximo en el número de participantes, y si el número de inscritos excede este máximo se tendrá en cuenta el orden de inscripción. La inscripción debe incluir los datos del profesor que participa en la preparación de los alumnos. Con el fin
            de fomentar la participación de representantes de un mayor número de centros, no se admitirán más de
            <b>
        cuatro participantes por centro. Si finalmente no se cubren todas las
        plazas, se flexibilizará esta medida.
      </b>
        </p>
        <p>
            Puedes ir entrenando para sus pruebas en la pestaña
            <a href=""> Preparación </a>
        </p>
    </div>-->
    <div class="col-12">
        <app-inscriptions-dashboard></app-inscriptions-dashboard>
    </div>
</div>