<div class="grid justify-content-center">
    <div class="col-8">
        <the-carousel></the-carousel>
    </div>
    <div class="col-8">
        <h1>{{ "HOME.TITLE" | translate }}</h1>
    </div>

    <div class="col-8">
        <p>
            La X Olimpiada Informática de Extremadura se celebrará el
            <b>día 4 de febrero</b> . Como novedad, este año se va a llevar a cabo, simultáneamente, en el <b> Centro Universitario de Mérida </b> y en la
            <b>Escuela Politécnica de Cáceres </b>.
        </p>

        <p>
            El plazo de inscripción ya ha finalizado. Puedes consultar el programaa de actividades dentro del apartado <a href=""> Calendario </a>.
        </p>

        <p>
            Las bases del concurso las puedes leer si abres la pestaña
            <a href=""> Normativa y Objetivos </a>.
        </p>

        <p>
            Tienes a tu disposición algunos enlaces para las pruebas de ingenio, así como el «juez on-line» para el proceso de entrenamiento. Abre la pestaña
            <a href=""> Preparación </a>.
        </p>
        <p>
            Podrás resolver una serie de problemas similares a los que tendrás que afrontar el día de la olimpiada. Abre la pestaña <a href=""> Enlaces </a>, verás ejemplos y documentos para iniciarte en la programación.
        </p>
        <p>
            Otra novedad de este año es que la inscripción te da derecho a hacer, de forma gratuita, los cursos de formación de <a href="">League of Code</a> . Podrás recibir clases online y también participar en concursos de entrenamiento.
        </p>
        <p>
            Finalmente informaros que El Ministerio de Educación y Formación Profesional ha incluido a la <b> Olimpiada Informática Española </b>dentro de las Olimpiadas Científicas Nacionales. Es una estupenda noticia para nosotros porque también es
            un reconocimiento a la labor realizada por las Olimpiadas regionales.
        </p>

        <p>
            <b>Contacto e información:</b> <a href="">o.informatica.ex@gmail.com</a>
        </p>
    </div>
</div>

<div class="grid justify-content-center">
    <div class="col-8">
        <h2>{{ "GLOBAL.TO.INSCRIPTION" | translate }}</h2>
    </div>
    <div class="col-8">
        Las inscripciones al concurso se realizarán de forma telemática. El plazo de inscripción se inició el 29 de noviembre de 2021 y se cerrará el 21 de enero de 2022. La participación en el concurso es gratuita. Habrá un límite máximo en el número de participantes,
        y si el número de inscritos excede este máximo se tendrá en cuenta el orden de inscripción. La inscripción debe incluir los datos del profesor que participa en la preparación de los alumnos. Con el fin de fomentar la participación de representantes
        de un mayor número de centros, no se admitirán más de cuatro participantes por centro. Si finalmente no se cubren todas las plazas, se flexibilizará esta medida.
    </div>
</div>

<div class="grid justify-content-center">
    <the-button class="button" [label]="'INSCRIPTION.REGISTER' | translate" (onClick)="navigateToRegister()" icon="fa fa-solid fa-address-card"></the-button>
</div>