<p-toast position="bottom-center"></p-toast>

<div class="card">
    <p-toolbar styleClass="m-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="Borrar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="normativeList" [rows]="10" [paginator]="true" responsiveLayout="scroll" [(selection)]="selectedNormatives" [rowHover]="true" dataKey="id" currentPageReportTemplate="Página {first} de {last} para {totalRecords} resultados" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h2 class="m-0">Gestión de Normativas y Objetivos</h2>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">
                    Titulo
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="description">
                    Descripción
                    <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="position">
                    Posición
                    <p-sortIcon field="position"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-normative>
            <tr>
                <td>
                    <p-tableCheckbox [value]="normative"></p-tableCheckbox>
                </td>
                <td>{{ normative.name }}</td>
                <td>{{ normative.description }}</td>
                <td>{{ normative.position }}</td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success m-2" (click)="editNormative(normative)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-2" (click)="deleteNormative(normative)"></button>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{ normativeList ? normativeList.length : 0 }} Normativas y Objetivos.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="normativeDialog" [style]="{ width: '900px' }" header="Formulario Normativas y Objetivos" [modal]="true">
    <ng-template pTemplate="content">
        <form [formGroup]="normativeForm">
            <div class="grid formgrid p-fluid">
                <div class="col-12 p-1 field">
                    <label for="titulo" class="block">{{
            "GLOBAL.TITLE" | translate
          }}</label>
                    <input type="text" [placeholder]="'GLOBAL.TITLE' | translate" formControlName="name" pInputText />
                    <small class="p-error block" *ngIf="
          normativeForm.controls.name.errors?.required &&
          normativeForm.controls.name.touched
          ">El título es obligatorio</small
        >
        </div>
        <div class="col-12 p-1 field">
          <label for="description" class="block">{{
            "GLOBAL.DESCRIPTION" | translate
          }}</label>
          <textarea
            pInputTextarea
            [placeholder]="'GLOBAL.DESCRIPTION' | translate"
            formControlName="description"
            autoResize="autoResize"
          ></textarea>
          <small
            class="p-error block"
            *ngIf="
            normativeForm.controls.description.errors?.required &&
            normativeForm.controls.description.touched
            "
            >La descripción es obligatoria</small
          >
        </div>
        <div class="col-2 p-1 field">
          <label for="posicion" class="block">{{
            "GLOBAL.POSITION" | translate
          }}</label>
          <p-inputNumber
            mode="decimal"
            [showButtons]="true"
            buttonLayout="horizontal"
            spinnerMode="horizontal"
            decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
            formControlName="position"
          ></p-inputNumber>
          <small
          class="p-error block"
          *ngIf="
          normativeForm.controls.position.errors?.required &&
          normativeForm.controls.position.touched
          "
          >La descripción es obligatoria</small
        >
        </div>
        <div class="col-12 align-center">
          <small id="small_required" *ngIf="normativeForm.invalid"
            >{{'FORM.REQUIRED_MSG' | translate}}</small
          >
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-rounded p-button-secondary"
      (click)="cancelDialog()"
    ></button>
    <button
      pButton
      pRipple
      [label]="'GLOBAL.ADD' | translate"
      icon="pi pi-check"
      class="p-button-rounded"
      [disabled]="normativeForm.invalid"
      (click)="addNormative()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>