   img {
       width: 0.5em;
       height: 14em;
   }
   
   .p-card {
       margin: 1em;
   }
   
   .p-card .p-card-footer {
       padding: 0px;
   }
   
   .p-card .p-card-content {
       padding: 0px;
   }
   
   a {
       text-decoration: none;
   }