<app-links-list></app-links-list>



<!--<div class="grid justify-content-center">
  <div class="col-8">
    <h1>{{ "INTEREST_LINK.TITLE" | translate }}</h1>
  </div>

  <div class="col-8">
    <h3>Otras Olimpiadas de Informática</h3>
    <p>✤<a href="">Olimpiada Española de Informática</a></p>
    <p>✤<a href="">Olimpiada Informática de la región de Murcia</a></p>
    <p>
      ✤<a href=""
        >Olimpiada de Informática (Universidad de Castilla-La Mancha)</a
      >
    </p>
    <p><b>Para prepararse:</b></p>
    <p>
      ✤
      <a href="">Colección de algoritmos simples, enunciados y soluciones</a>
    </p>
    <p>✤<a href="">Libros de programación online </a></p>
    <p>✤<a href="">Ejercicios de entrenamiento y algoritmos varios</a></p>
    <p>
      ✤ <a href="">Juez online de la Universidad de Valladolid </a> (abrir la
      pestaña «Browse Problems»)
    </p>
  </div>
</div>-->