<div class="grid justify-content-center">
    <div class="col-8">
        <h1>{{ 'HOME.TITLE' | translate }}</h1>
    </div>

    <div class="col-8">
        <p>
            La X Olimpiada Informática de Extremadura se celebrará el
            <b>día 4 de febrero</b> . Como novedad, este año se va a llevar a cabo, simultáneamente, en el <b> Centro Universitario de Mérida </b> y en la
            <b>Escuela Politécnica de Cáceres </b>.
        </p>
    </div>

    <div class="col-8">
        <p>
            El plazo de inscripción ya ha finalizado. Puedes consultar el programaa de actividades dentro del apartado <a href=""> Calendario </a>.
        </p>
    </div>

    <div class="col-8">
        <p>
            Las bases del concurso las puedes leer si abres la pestaña
            <a href=""> Normativa y Objetivos </a>.
        </p>
    </div>

    <div class="col-8">
        <p>
            Tienes a tu disposición algunos enlaces para las pruebas de ingenio, así como el «juez on-line» para el proceso de entrenamiento. Abre la pestaña
            <a href=""> Preparación </a>.
        </p>
    </div>

    <div class="col-8">
        <p>
            Podrás resolver una serie de problemas similares a los que tendrás que afrontar el día de la olimpiada. Abre la pestaña <a href=""> Enlaces </a>, verás ejemplos y documentos para iniciarte en la programación.
        </p>
    </div>

    <div class="col-8">
        <p>
            Otra novedad de este año es que la inscripción te da derecho a hacer, de forma gratuita, los cursos de formación de <a href="">League of Code</a> . Podrás recibir clases online y también participar en concursos de entrenamiento.
        </p>
    </div>

    <div class="col-8">
        <p> Finalmente informaros que El Ministerio de Educación y Formación Profesional ha incluido a la <b> Olimpiada Informática Española </b>dentro de las Olimpiadas Científicas Nacionales. Es una estupenda noticia para nosotros porque también es un reconocimiento
            a la labor realizada por las Olimpiadas regionales. </p>
    </div>

    <div class="col-8">
        <p> <b>Contacto e información:</b> <a href="">o.informatica.ex@gmail.com</a> </p>
    </div>
</div>